/* App.css */

/* General styles for the whole application */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    color: #333;
}

.App {
    text-align: center;
    padding: 20px;
}

/* Container styles */
.container {
    border: 2px solid Peru;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff;
    color: Peru;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 2px solid Peru;
    padding: 10px 20px;
    position: relative;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: Peru;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Initially hide the menu */
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: white;
    border: 2px solid Peru;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .nav-links.open {
        display: flex; /* Show the menu when isOpen is true */
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        text-decoration: none;
        color: Peru;
        font-weight: bold;
        transition: color 0.3s ease;
    }

        .nav-links a:hover {
            color: #333;
        }

/* Image styles */
img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border: 2px solid Peru;
    border-radius: 8px;
}

/* Additional styling for headers and paragraphs */
h1 {
    color: Peru;
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 10px 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        padding: 15px;
        margin: 10px auto;
    }

    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

        .nav-links li {
            margin: 5px 0;
        }
}
